rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userDoc(uid) {
      return firestore.get(/databases/(default)/documents/users/$(uid));
    }

    function isCaretaker() {
      return signedIn() && userDoc(request.auth.uid).data.role == 'caretaker';
    }

    function isPatient() {
      return signedIn() && userDoc(request.auth.uid).data.role == 'patient';
    }

    function isLinkedCaretaker(patientId) {
      return signedIn()
        && isCaretaker()
        && firestore.exists(/databases/(default)/documents/patients/$(patientId))
        && request.auth.uid in firestore.get(/databases/(default)/documents/patients/$(patientId)).data.caretakerIds;
    }

    match /adherence_proofs/{patientId}/{fileName} {
      allow read: if signedIn() && (
        (isPatient() && request.auth.uid == patientId) ||
        isLinkedCaretaker(patientId)
      );

      allow write: if signedIn() && isLinkedCaretaker(patientId);
    }
  }
}

